<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header card-header-warning">
            <h4 class="card-title ">Reserve</h4>
            <p class="card-category"> Detalles of reserve</p>
            <button mat-raised-button matTooltip="Volver a la lista" class="btn pull-right back"
              (click)="back()">Back</button>
          </div>
          <div class="card-body" formGroup="form">

            <br><br>

            <div class="row">
              <div class="col-md-6">
                <mat-card><strong>Cutomer:</strong> {{form.controls.customer.value}}</mat-card>
              </div>
              <div class="col-md-6">
                <mat-card><strong>Shipping:</strong> {{form.controls.shipping.value | currency}}</mat-card>
              </div>
            </div>

            <div class="row">
              <div class="col-md-6">
                <mat-card><strong>Total Tax:</strong> {{form.controls.totalTax.value | currency}}</mat-card>
              </div>
              <div class="col-md-6">
                <mat-card><strong>Subtotal:</strong> {{form.controls.subtotal.value | currency}}</mat-card>
              </div>
            </div>

            <div class="row">
              <div class="col-md-6">
                <mat-card><strong>Discount Total:</strong> {{form.controls.totalDiscount.value | currency}}</mat-card>
              </div>
              <div class="col-md-6">
                <mat-card><strong>TOTAL: {{form.controls.totalReserve.value | currency}}</strong></mat-card>
              </div>
            </div>

            <br>
            <div class="row">
              <div class="col-md-12">
                <mat-card><strong>Comments: {{form.controls.comments.value}}</strong></mat-card>
              </div>
            </div>

            <br><br><br>

            <div class="table-responsive">

              <p-table #dt [columns]="cols" [value]="listItems" [paginator]="true" [responsive]="true" [rows]="10"
                [rowsPerPageOptions]="[5,10,20]"
                [globalFilterFields]="['discount','ref','description','retail','price','quantity','total']">
                <ng-template pTemplate="caption">
                  <div style="text-align: right">
                    <em class="fa fa-search" style="margin:4px 4px 0 0"></em>
                    <input type="text" pInputText size="30" placeholder="Search"
                      (input)="dt.filterGlobal($event.target.value, 'contains')" style="width:auto">
                  </div>
                </ng-template>
                <ng-template pTemplate="header" let-columns>
                  <tr>
                    <th id="discount" [pSortableColumn]="'discount'">Discount<p-sortIcon [field]="'discount'">
                      </p-sortIcon>
                    </th>
                    <th id="ref" [pSortableColumn]="'ref'">Ref<p-sortIcon [field]="'ref'">
                      </p-sortIcon>
                    </th>
                    <th id="description" [pSortableColumn]="'description'">Description<p-sortIcon
                        [field]="'description'">
                      </p-sortIcon>
                    </th>
                    <th id="retail" [pSortableColumn]="'retail'">Retail<p-sortIcon [field]="'retail'">
                      </p-sortIcon>
                    </th>
                    <th id="price" [pSortableColumn]="'price'">Price<p-sortIcon [field]="'price'">
                      </p-sortIcon>
                    </th>
                    <th id="quantity" [pSortableColumn]="'quantity'">Quantity<p-sortIcon [field]="'quantity'">
                      </p-sortIcon>
                    </th>
                    <th id="total" [pSortableColumn]="'total'">Total<p-sortIcon [field]="'total'">
                      </p-sortIcon>
                    </th>
                  </tr>
                </ng-template>
                <ng-template pTemplate="body" let-data>
                  <tr>
                    <td>{{data.discount}}</td>
                    <td>{{data.ref}}</td>
                    <td>{{data.description}}</td>
                    <td>{{data.retail}}</td>
                    <td>{{data.price}}</td>
                    <td>{{data.quantity}}</td>
                    <td>{{data.total}}</td>
                  </tr>
                </ng-template>
              </p-table>
              <br><br><br><br><br>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>