<div class="main-content">

  <div class="container-fluid">

    <div class="row">

      <div class="col-md-12">

        <div class="card">

          <div class="card-header card-header-warning">
            <h4 class="card-title">{{stringInvoice}}</h4>
            <button mat-raised-button class="btn btn-default pull-right action" (click)="printPage()"
              matTooltip="Imprimir">Imprimir Factura</button>
          </div>

          <div class="card-body">

            <p class="card-category">Previsualización de factura</p>

            <hr>

            <div id="row-invoice-print">

              <div class="row">

                <div class="col-md-4 line">
                  <img src="/assets/img/InvoiceBellarose.jpg" alt="logoFactura" width="280" height="160">
                </div>

                <div class="col-md-4 line">
                  <p>
                    Siguenos en Instagram: @bellarose.alquiler
                  </p>
                  <p>
                    www.bellarosealquiler.com.co
                  </p>
                </div>

                <div class="col-md-4 line">
                  <h4>Número de factura: {{numberInvoice}}</h4>
                </div>

              </div>

              <mat-card class="border">

                <div class="row">

                  <div class="col-md-6 line">
                    <mat-card class="border">Fecha de factura: {{dateInvoice}}</mat-card>
                  </div>

                  <div class="col-md-6 line">
                    <mat-card class="border">Vendedor: {{employeeName}}</mat-card>
                  </div>

                </div>

                <div class="row">

                  <div class="col-md-6 line">
                    <mat-card class="border">Nombre: {{customName}}</mat-card>
                  </div>

                  <div class="col-md-6 line">
                    <mat-card class="border">Documento: {{customDocument}}</mat-card>
                  </div>

                </div>

                <div class="row">

                  <div class="col-md-6 line">
                    <mat-card class="border">Dirección: {{customAddress}}</mat-card>
                  </div>

                  <div class="col-md-6 line">
                    <mat-card class="border">Email: {{customEmail}}</mat-card>
                  </div>

                </div>

                <div class="row">
                  <div class="col-md-6 line">
                    <mat-card class="border">Fecha de entrega: {{startDate}}</mat-card>
                  </div>
                  <div class="col-md-6 line">
                    <mat-card class="border">Metodo de pago: {{typePay}}</mat-card>
                  </div>
                </div>

                <div class="row">
                  <div class="col-md-12 line">
                    <mat-card class="border">Descripción: {{description}}</mat-card>
                  </div>
                </div>

                <div class="row" *ngIf="typeInvoice != '3'">

                  <div class="col-md-12 line">

                    <mat-card class="description_art">
                      <mat-card-title class="text_center"> Descripción artículos </mat-card-title>
                      <mat-card-content>
                        <div class="table-responsive">
                          <table class="table table-hover">
                            <thead>
                              <th id=""> Código </th>
                              <th id=""> Precio Original </th>
                              <th id=""> % Descuento</th>
                              <th id=""> NETO </th>
                            </thead>
                            <tbody>
                              <tr *ngFor="let item of anyArticles">
                                <td>{{item.code}}</td>
                                <td>{{item.price | currency }}</td>
                                <td>{{item.discount}} %</td>
                                <td>{{item.price - ((item.price * item.discount)/100) | currency }}</td>
                              </tr>
                            </tbody>
                          </table>
                        </div>
                      </mat-card-content>
                    </mat-card>

                  </div>

                </div>

                <div class="row" *ngIf="typeInvoice == '3'">

                  <div class="col-md-6"></div>

                  <div class="col-md-6 line">
                    <mat-card class="border">Valor a pagar: {{subTotal | currency }}</mat-card>
                  </div>

                </div>

                <div class="row" *ngIf="typeInvoice != '3'">

                  <div class="col-md-4 line">
                    <mat-card class="border">Valor a pagar: {{subTotal | currency }}</mat-card>
                  </div>

                  <div class="col-md-4 line">
                    <mat-card class="border">Abono: {{payment | currency }}</mat-card>
                  </div>

                  <div class="col-md-4 line">
                    <mat-card class="border">Resta: {{total | currency }}</mat-card>
                  </div>

                </div>

                <div class="row" *ngIf="typeInvoice != '3'">

                  <div class="col-md-6 line">
                    <mat-card class="border">Pago el depósito: {{typeDeposito}}</mat-card>
                  </div>
                  <div class="col-md-6 line">
                    <mat-card class="border">Valor depósito: {{deposit | currency }}</mat-card>
                  </div>

                </div>

                <div class="row">

                  <div class="col-md-6 line">

                    <mat-card class="border">
                      <p>* No se hace devolución de dinero.</p>
                      <p *ngIf="typeInvoice == '1'">* Recuerda traer al momento del retiro el valor del depósito, este
                        cubrirá los posibles daños que ocurran.</p>
                      <p>* Pasados 30 días no se hacen cambios.</p>
                      <p>* Los cambios de vestuario se pueden hacer con 15 días antes de la fecha de entrega.</p>
                    </mat-card>

                  </div>

                  <div class="col-md-6 line">

                    <mat-card class="firm">
                      <div class="row">
                        <div class="col-md-6">
                          Vendedor:
                        </div>
                        <div class="col-md-6">
                          Cliente:
                        </div>
                      </div>
                      <br>
                      <br>
                      <div class="row">
                        <div class="col-md-6">
                          _____________________________
                        </div>
                        <div class="col-md-6">
                          _____________________________
                        </div>
                      </div>
                    </mat-card>

                  </div>

                </div>

                <p class="text_center">Carrera 52 No. 45 - 116 Local 201 - Pasaje Pasteur / Medellin</p>
                <p class="text_center">Teléfono fijo: 5298724</p>
                <p class="text_center">Celulares whatsaap: 3175009338- 3104998977</p>

              </mat-card>

            </div>

          </div>

        </div>

      </div>

    </div>

  </div>

</div>