<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header card-header-warning">
            <h4 class="card-title ">Customer</h4>
            <p class="card-category"> List of customers</p>
          </div>
          <div class="card-body">
            <div class="table-responsive">

              <p-table #dt [columns]="cols" [value]="listCustomer" [paginator]="true" [responsive]="true" [rows]="10"
                [rowsPerPageOptions]="[5,10,20]" [globalFilterFields]="['firstname','lastname']">
                <ng-template pTemplate="caption">
                  <div style="text-align: right">
                    <em class="fa fa-search" style="margin:4px 4px 0 0"></em>
                    <input type="text" pInputText size="30" placeholder="Search"
                      (input)="dt.filterGlobal($event.target.value, 'contains')" style="width:auto">
                  </div>
                </ng-template>
                <ng-template pTemplate="header" let-columns>
                  <tr>
                    <th id="firstname" [pSortableColumn]="'firstname'">Firstname<p-sortIcon [field]="'firstname'">
                      </p-sortIcon>
                    </th>
                    <th id="lastname" [pSortableColumn]="'lastname'">Lastname<p-sortIcon [field]="'lastname'">
                      </p-sortIcon>
                    </th>
                    <th id="change">
                      Details
                    </th>
                  </tr>
                </ng-template>
                <ng-template pTemplate="body" let-data>
                  <tr>
                    <td>{{data.firstname}}</td>
                    <td>{{data.lastname}}</td>
                    <td>
                      <div>
                        <button mat-raised-button class="btn" (click)="goToDetails(data)">Details
                        </button>
                      </div>
                    </td>
                  </tr>
                </ng-template>
              </p-table>
              <br><br><br><br><br>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>