<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card" formGroup="form">
          <div class="card-header card-header-warning">
            <h4 class="card-title ">Perfil de empleado</h4>
            <p class="card-category"> Detalles de {{form.controls.name.value}}</p>
            <button mat-raised-button matTooltip="Volver a la lista" class="btn pull-right back"
              (click)="back()">Volver</button>
          </div>
          <div class="card-body">

            <br><br>
            <div class="row">
              <div class="col-md-6">
                <mat-card><strong>Nombre:</strong> {{form.controls.name.value}}</mat-card>
              </div>
              <div class="col-md-3">
                <mat-card><strong>Identificación:</strong> {{form.controls.identification.value}}</mat-card>
              </div>
              <div class="col-md-3">
                <mat-card><strong>Teléfono:</strong> {{form.controls.telephone.value}}</mat-card>
              </div>
            </div>


            <br><br>
            <div class="row">
              <div class="col-md-6">
                <mat-card><strong>Correo electrónico:</strong> {{form.controls.email.value}}</mat-card>
              </div>
              <div class="col-md-6">
                <mat-card><strong>Dirección:</strong> {{form.controls.direction.value}}</mat-card>
              </div>
            </div>

            <br><br>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>