<div class="main-content">

  <div class="container-fluid">

    <div class="row">

      <div class="col-md-12">

        <div class="card">

          <div class="card-header card-header-warning">

            <h4 class="card-title">Registrar reserva</h4>
            <p class="card-category">Reserva para el cliente con identificación: {{customerIdentification.value}}</p>
            <p class="card-category">Registra el empleado con identificación: {{employeIdentification.value}}</p>
            <mat-progress-bar color="warn" mode="indeterminate" [attr.hidden]="showProgBar?'':null">
            </mat-progress-bar>
          </div>

          <div class="card-body">

            <div class="row">

              <div class="col-md-6">
                <mat-form-field appearance="fill">
                  <mat-label>Seleccionar fecha inicial de reserva</mat-label>
                  <input matInput [matDatepicker]="pickerStart" readonly [formControl]="startDate">
                  <mat-datepicker-toggle matSuffix [for]="pickerStart"></mat-datepicker-toggle>
                  <mat-datepicker #pickerStart></mat-datepicker>
                </mat-form-field>
              </div>

              <div class="col-md-6">
                <mat-form-field appearance="fill">
                  <mat-label>Seleccionar fecha final de reserva</mat-label>
                  <input matInput [matDatepicker]="pickerEnd" readonly [formControl]="endDate"
                    (dateChange)="dateLessThan($event.target.value)">
                  <mat-datepicker-toggle matSuffix [for]="pickerEnd"></mat-datepicker-toggle>
                  <mat-datepicker #pickerEnd></mat-datepicker>
                </mat-form-field>
              </div>

            </div>

            <div class="card-body" [attr.hidden]="showFormRef?'':null">

              <div class="rg">

                <button mat-raised-button matTooltip="Agregar" class="btn sum" (click)="addArticle()">+</button>

              </div>

              <!-- TABLA DE ITEMS -->
              <div class="card-body">

                <div class="table-responsive">

                  <table class="table table-hover">

                    <thead>
                      <th *ngFor="let item of anyCabecera" scope="col">{{item}}</th>
                    </thead>

                    <tbody>

                      <tr *ngFor="let item of anyDetalleArticle.get('rows')['controls'] ; let i = index;">

                        <td>
                          <button mat-raised-button matTooltip="Eliminar" class="btn delete"
                            (click)="removeArticle(i)">X</button>
                        </td>
                        <td>
                          {{i+1}}
                        </td>
                        <td>
                          <mat-form-field class="field-width">
                            <input matInput type="number" maxlength="3" max="100" min="1"
                              (blur)="numberOnly($event);calculateTotals();" (change)="calculateTotals()"
                              [formControl]="item.get('discount')">
                            <span matPrefix>%&nbsp;</span>
                          </mat-form-field>
                        </td>
                        <td>
                          <mat-form-field>
                            <mat-select placeholder="Busca por referencia" [formControl]="item.get('garmentReference')"
                              (selectionChange)="setGarmentPrice(item.get('garmentReference'), i)">
                              <mat-option *ngFor="let garment of anyListGarment" value="{{garment.reference}}">
                                {{garment.reference}}-{{garment.size}}
                              </mat-option>
                            </mat-select>
                          </mat-form-field>
                        </td>
                        <td>
                          <mat-form-field>
                            <input matInput placeholder="Precio" type="number"
                              (keypress)="numberOnly($event);calculateTotals();" [formControl]="item.get('price')"
                              style="width: 50%;">
                          </mat-form-field>
                        </td>
                        <td>
                          {{(item.get('quantity').value * item.get('price').value) * (item.get('discount').value / 100)
                          | currency }}
                        </td>
                        <td>
                          {{item.get('price').value - ((item.get('quantity').value * item.get('price').value) *
                          (item.get('discount').value / 100)) | currency }}
                        </td>
                        <td style="text-align: center">
                          <button mat-mini-fab color="primary" (click)="openModalImg(item.get('garmentReference'))"
                            [disabled]="item.get('garmentReference').value === ''">
                            <mat-icon>image</mat-icon>
                          </button>
                        </td>

                      </tr>

                    </tbody>

                  </table>

                </div>

                <br>

                <div class="row">

                  <div class="col-md-4">
                    <mat-card>Subtotal: {{subtotal.value | currency}}</mat-card>
                  </div>
                  <div class="col-md-4">
                    <mat-card>Descuento total: {{totalDiscount.value | currency}}</mat-card>
                  </div>
                  <div class="col-md-4">
                    <mat-card><strong>TOTAL: {{totalReserve.value | currency}}</strong></mat-card>
                  </div>

                </div>

                <br>

                <div class="card-body" [attr.hidden]="showValRef?'':null">

                  <div class="card-header card-header-warning">
                    <h4 class="card-title">Validar disponibilidad</h4>
                  </div>

                  <div class="table-responsive">

                    <table class="table table-hover">

                      <thead>
                        <th *ngFor="let item of anyCabeceraRef" scope="col">{{item}}</th>
                      </thead>

                      <tbody>

                        <tr *ngFor="let det of anyDetalleRef">
                          <td>
                            {{det.reference}}
                          </td>
                          <td>
                            {{det.earlyDate}}
                          </td>
                        </tr>

                      </tbody>

                    </table>

                  </div>

                </div>

                <div class="card-body" [attr.hidden]="showForm?'':null">

                  <form>

                    <div class="row">
                      <div class="col-md-12">
                        <label for="selectRol">Cliente</label>
                        <label for="selectRol"> </label>
                        <button mat-mini-fab matTooltip="Crear cliente" class="btn cl pull-right"
                          (click)="openModalCliente()">+
                        </button>
                        <mat-form-field>
                          <mat-select placeholder="Busca un cliente" [formControl]="customerId"
                            (selectionChange)="setCustomerData()">
                            <mat-option *ngFor="let customer of anyListCustomers" value="{{customer.id}}">
                              {{customer.name}}
                            </mat-option>
                          </mat-select>
                        </mat-form-field>
                      </div>
                    </div>

                    <div class="row">
                      <div class="col-md-12">
                        <label for="selectRol">Empleado</label>
                        <mat-form-field>
                          <mat-select placeholder="Busca un empleado" [formControl]="employeId"
                            (selectionChange)="setEmployeData()">
                            <mat-option *ngFor="let employe of anyListEmployees" value="{{employe.id}}">
                              {{employe.name}}
                            </mat-option>
                          </mat-select>
                        </mat-form-field>
                      </div>
                    </div>

                    <div class="row">
                      <div class="col-md-12">
                        <mat-form-field>
                          <mat-label>COMENTARIOS</mat-label>
                          <textarea matInput [formControl]="comments"></textarea>
                        </mat-form-field>
                      </div>
                    </div>

                    <div class="pull-right">

                      <button mat-raised-button matTooltip="Finalizar y registrar reserva."
                        class="btn pull-right save-reserve" [attr.disabled]="btnSaveRes?'':null"
                        (click)="saveReserve()">Guardar Reserva</button>

                    </div>

                  </form>

                </div>

              </div>

            </div>

          </div>

        </div>

      </div>

    </div>

  </div>

</div>

<!-- The Modal Show Image Preview Product -->
<div id="myModalImg" class="modal0">
  <!-- Modal content -->
  <div class="modal0-content">
    <div class="modal0-header">
      <h2>Referencia: {{referenceProduct}}</h2>
      <span class="close0" (click)="closeModalImg()">X</span>
    </div>
    <div class="modal0-body">
      <div class="modal0-message">
        <p>Hay {{quantityProduct}} disponibles.</p>
      </div>
      <div class="col-12 col-md-12 col-lg-12">
        <form>
          <div>
            <img src="{{imageProduct}}" alt="product" id="ImageProduct" width="340">
          </div>
        </form>
      </div>
    </div>
    <div class="modal0-footer">
      <button class="btn btn-default" (click)="closeModalImg()">Cerrar</button>
    </div>
  </div>

</div>

<!-- The Modal Show Create New Cliente -->
<div id="modalCreateClient" class="modal0">

  <div class="modal0-content">

    <div class="modal0-header">

      <h2>Crear cliente</h2>
      <h4>Complete todos los datos del perfil para el cliente</h4>

    </div>

    <div class="modal0-body">

      <div class="modal0-message">

        <div class="col-12 col-md-12 col-lg-12">

          <form>

            <div class="row">

              <div class="col-md-6">
                <mat-form-field>
                  <input matInput placeholder="Nombre del cliente" type="text" [formControl]="name">
                </mat-form-field>
              </div>
              <div class="col-md-6">
                <mat-form-field>
                  <input matInput placeholder="Identificación" type="text" [formControl]="identification">
                </mat-form-field>
              </div>

            </div>

            <div class="row">

              <div class="col-md-6">
                <mat-form-field>
                  <input matInput placeholder="Correo electronico" [formControl]="email">
                  <mat-error *ngIf="email.hasError('email') && !email.hasError('required')">
                    Por favor, introduce una dirección de correo electrónico válida
                  </mat-error>
                </mat-form-field>
              </div>

              <div class="col-md-6">
                <mat-form-field>
                  <input matInput placeholder="Dirección del cliente" type="text" [formControl]="direction">
                </mat-form-field>
              </div>

            </div>

            <div class="row">

              <div class="col-md-4">
                <mat-form-field>
                  <input matInput placeholder="Teléfono 1" type="text" maxlength="10" max="10" min="1"
                    (blur)="numberOnly($event);" [formControl]="telephone1">
                </mat-form-field>
              </div>

              <div class="col-md-4">
                <mat-form-field>
                  <input matInput placeholder="Teléfono 2" type="text" maxlength="10" max="10" min="1"
                    (blur)="numberOnly($event);" [formControl]="telephone2">
                </mat-form-field>
              </div>

              <div class="col-md-4">
                <mat-form-field>
                  <input matInput placeholder="Teléfono 3" type="text" maxlength="10" max="10" min="1"
                    (blur)="numberOnly($event);" [formControl]="telephone3" style="width: 100%;">
                </mat-form-field>
              </div>

            </div>

          </form>

        </div>

      </div>

    </div>

    <div class="modal0-footer">
      <button class="btn btn-default" [attr.disabled]="btnSaveCliente?'':null" (click)="createCliente()">Crear
        cliente</button>
      <button class="btn btn-default pull-right" (click)="closeModalCliente()">X</button>
    </div>

  </div>

</div>