.back {background-color: #F2D6D3  !important;}

.action {background-color: #DBCBCA  !important;}

.delete {background-color: #f3080885  !important;}
.add {background-color: #F2D6D3  !important;}

.row {padding: 8px;}
.rg {text-align: right; }