<div class="main-content">

  <div class="container-fluid">

    <div class="row">

      <div class="col-md-12">

        <div class="card">

          <div class="card-header card-header-warning">

            <h4 class="card-title ">Reserva # {{form.controls.reserveNumber.value}}</h4>
            <p class="card-category"> Fecha de registro: {{form.controls.reserveDay.value}}</p>
            <p class="card-category"> Nro factura: {{form.controls.invoiceNumber.value}}</p>
            <p class="card-category"> Estado: {{form.controls.isActive.value}}</p>
            <button mat-raised-button matTooltip="Listar reservas" class="btn pull-right save-reserve"
              (click)="back()">Volver</button>
            <mat-progress-bar color="warn" mode="indeterminate" [attr.hidden]="hiddenProgBar?'':null">
            </mat-progress-bar>
          </div>

          <div class="card-body">

            <div class="row">

              <div class="col-md-12">

                <mat-card><strong>Cliente:</strong> {{form.controls.customerName.value}}</mat-card>

              </div>

            </div>

            <div class="row">

              <div class="col-md-12">

                <mat-card><strong>Empleado:</strong> {{form.controls.employeName.value}}</mat-card>

              </div>

            </div>

            <div class="row">

              <div class="col-md-6">

                <mat-form-field appearance="fill">

                  <mat-label>Fecha inicio reserva</mat-label>
                  <input matInput [matDatepicker]="pickerStart" readonly [formControl]="startDate">
                  <mat-datepicker-toggle matSuffix [for]="pickerStart"></mat-datepicker-toggle>
                  <mat-datepicker #pickerStart></mat-datepicker>

                </mat-form-field>

              </div>

              <div class="col-md-6">

                <mat-form-field appearance="fill">

                  <mat-label>Fecha final reserva</mat-label>
                  <input matInput [matDatepicker]="pickerEnd" readonly [formControl]="endDate"
                    (dateChange)="dateLessThan($event.target.value)">
                  <mat-datepicker-toggle matSuffix [for]="pickerEnd"></mat-datepicker-toggle>
                  <mat-datepicker #pickerEnd></mat-datepicker>

                </mat-form-field>

              </div>

            </div>

            <form>

              <div class="row">

                <div class="col-md-12">

                  <mat-form-field>

                    <mat-label>COMENTARIOS</mat-label>

                    <textarea matInput [formControl]="form.controls.description"></textarea>

                  </mat-form-field>

                </div>

              </div>

              <div class="rg">

                <button mat-raised-button matTooltip="Agregar" class="btn save-reserve"
                  (click)="addArticle()">+</button>

              </div>

              <!-- TABLA DE ITEMS -->
              <div class="card-body">

                <div class="table-responsive">

                  <table class="table table-hover">

                    <thead>
                      <th id=""></th>
                      <th id=""></th>
                      <th id=""> % DESCUENTO </th>
                      <th id=""> REFERENCIA </th>
                      <th id=""> PRECIO </th>
                      <th id=""> DESCUENTO </th>
                      <th id=""> NETO </th>
                    </thead>

                    <tbody>
                      <tr *ngFor="let item of listArticles.get('rows')['controls'] ; let i = index;">
                        <td>
                          <button mat-raised-button matTooltip="Eliminar" class="btn save-reserve"
                            (click)="removeArticle(i)">X</button>
                        </td>
                        <td>
                          {{i+1}}
                        </td>
                        <td>
                          <mat-form-field class="field-width">
                            <input matInput placeholder="Descuento" type="number" maxlength="3" max="100" min="0"
                              (blur)="numberOnly($event);calculateTotals();" (change)="calculateTotals()"
                              [formControl]="item.get('discount')" style="width: 50%;">
                            <span matPrefix>%&nbsp;</span>
                          </mat-form-field>
                        </td>
                        <td>
                          <mat-form-field>
                            <mat-select placeholder="Busca por referencia" [formControl]="item.get('garmentReference')"
                              (selectionChange)="setGarmentPrice(item.get('garmentReference'), i)">
                              <mat-option *ngFor="let garment of listGarment" value="{{garment.reference}}">
                                {{garment.reference}}-{{garment.size}}
                              </mat-option>
                            </mat-select>
                          </mat-form-field>
                        </td>
                        <td>
                          <mat-form-field>
                            <input matInput placeholder="Precio" type="number"
                              (keypress)="numberOnly($event);calculateTotals();" (change)="calculateTotals()"
                              [formControl]="item.get('price')" style="width: 50%;">
                          </mat-form-field>
                        </td>
                        <td>
                          {{(item.get('quantity').value * item.get('price').value) * (item.get('discount').value / 100)
                          | currency }}
                        </td>
                        <td>
                          {{item.get('price').value - ((item.get('quantity').value * item.get('price').value) *
                          (item.get('discount').value / 100)) | currency }}
                        </td>
                      </tr>

                  </table>

                </div>

              </div>

              <div class="row">

                <div class="col-md-4">

                  <mat-card>Subtotal: {{subtotal.value | currency}}</mat-card>

                </div>

                <div class="col-md-4">

                  <mat-card>Descuento total: {{totalDiscount.value | currency}}</mat-card>

                </div>

                <div class="col-md-4">

                  <mat-card><strong>Total: {{totalReserve.value | currency}}</strong></mat-card>

                </div>

              </div>

              <br>

              <div class="pull-right">

                <button mat-raised-button class="btn pull-right save-reserve" [attr.disabled]="dsbSave?'':null"
                  (click)="editReserve()">Editar</button>

              </div>

            </form>

          </div>

        </div>

      </div>

    </div>

  </div>

</div>