<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header card-header-warning">
            <h4 class="card-title ">Reservas</h4>
            <p class="card-category"> Lista de reservas</p>
            <mat-progress-bar color="warn" mode="indeterminate" [attr.hidden]="hiddenProgBar?'':null">
            </mat-progress-bar>
          </div>
          <div class="card-body">

            <div class="row">

              <div class="col-md-6">

                <mat-form-field appearance="fill">
                  <mat-label>Seleccionar fecha inicial de reserva</mat-label>
                  <input matInput [matDatepicker]="pickerStart" readonly [formControl]="startDate">
                  <mat-datepicker-toggle matSuffix [for]="pickerStart"></mat-datepicker-toggle>
                  <mat-datepicker #pickerStart></mat-datepicker>
                </mat-form-field>

              </div>

              <div class="col-md-6">

                <mat-checkbox class="example-margin pull-right" (change)="setCheck($event.checked)">
                  All registros
                </mat-checkbox>

              </div>

            </div>

            <div class="table-responsive">

              <p-table #dt [columns]="cols" [value]="listReserves" [paginator]="true" [responsive]="true" [rows]="10"
                [rowsPerPageOptions]="[5,10,20]"
                [globalFilterFields]="['customerName','reserveDay','endDate','startDate','status']">
                <ng-template pTemplate="caption">
                  <div style="text-align: right">
                    <em class="fa fa-search" style="margin:4px 4px 0 0"></em>
                    <input type="text" pInputText size="30" placeholder="Buscar"
                      (input)="dt.filterGlobal($event.target.value, 'contains')" style="width:auto">
                  </div>
                </ng-template>
                <ng-template pTemplate="header" let-columns>
                  <tr>
                    <th id="customerName" [pSortableColumn]="'customerName'">Cliente<p-sortIcon
                        [field]="'customerName'">
                      </p-sortIcon>
                    </th>
                    <th id="reserveDay" [pSortableColumn]="'reserveDay'">F/Creación<p-sortIcon [field]="'reserveDay'">
                      </p-sortIcon>
                    </th>
                    <th id="startDate" [pSortableColumn]="'startDate'">F/Entrega<p-sortIcon [field]="'startDate'">
                      </p-sortIcon>
                    </th>
                    <th id="endDate" [pSortableColumn]="'endDate'">F/Devolución<p-sortIcon [field]="'endDate'">
                    </p-sortIcon>
                    </th>
                    <th id="actions">
                    </th>
                  </tr>
                </ng-template>
                <ng-template pTemplate="body" let-data>
                  <tr>
                    <td>{{data.customerName}}</td>
                    <td>{{data.reserveDay}}</td>
                    <td>{{data.endDate}}</td>
                    <td>{{data.startDate}}</td>
                    <td>
                      <div>
                        <button mat-mini-fab color="primary" matTooltip="Ver detalle" [attr.disabled]="dsbBtn?'':null"
                          (click)="goToDetails(data)">
                          <mat-icon> preview </mat-icon>
                        </button>
                        <button mat-mini-fab matTooltip="Editar" [attr.disabled]="dsbBtn?'':null" *ngIf="data.isEdit"
                          (click)="goToEdit(data)">
                          <mat-icon> edit </mat-icon>
                        </button>
                        <button mat-mini-fab color="danger" matTooltip="Crear factura" *ngIf="data.isInvoice"
                          (click)="createInvoice(data)">
                          <mat-icon>
                            monetization_on
                          </mat-icon>
                        </button>
                        <button mat-mini-fab color="warn" matTooltip="Cancelar reserva" *ngIf="data.isCancel"
                          (click)="cancelReserve(data)">
                          <mat-icon>
                            cancel
                          </mat-icon>
                        </button>
                      </div>
                    </td>
                  </tr>
                </ng-template>
              </p-table>
              <br><br><br><br><br>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>