<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header card-header-warning">
            <h4 class="card-title ">Reservas</h4>
            <p class="card-category"> Lista de reservas</p>
            <mat-progress-bar color="warn" mode="indeterminate" [attr.hidden]="hiddenProgBar?'':null">
            </mat-progress-bar>
          </div>
          <div class="card-body">
            <div class="table-responsive">

              <p-table #dt [columns]="cols" [value]="listReserves" [paginator]="true" [responsive]="true" [rows]="10"
                [rowsPerPageOptions]="[5,10,20]"
                [globalFilterFields]="['customerName','reserveDay','endDate','articles','isActive']">
                <ng-template pTemplate="caption">
                  <div style="text-align: right">
                    <em class="fa fa-search" style="margin:4px 4px 0 0"></em>
                    <input type="text" pInputText size="30" placeholder="Buscar"
                      (input)="dt.filterGlobal($event.target.value, 'contains')" style="width:auto">
                  </div>
                </ng-template>
                <ng-template pTemplate="header" let-columns>
                  <tr>
                    <th id="customerName" [pSortableColumn]="'customerName'">Cliente<p-sortIcon
                        [field]="'customerName'">
                      </p-sortIcon>
                    </th>
                    <th id="reserveDay" [pSortableColumn]="'reserveDay'">Día de reserva<p-sortIcon
                        [field]="'reserveDay'">
                      </p-sortIcon>
                    </th>
                    <th id="endDate" [pSortableColumn]="'endDate'">Día de cierre<p-sortIcon [field]="'endDate'">
                      </p-sortIcon>
                    </th>
                    <th id="articles" [pSortableColumn]="'articles'">Artículos<p-sortIcon [field]="'articles'">
                      </p-sortIcon>
                    </th>
                    <th id="isActive" [pSortableColumn]="'isActive'">Estado<p-sortIcon [field]="'isActive'">
                      </p-sortIcon>
                    </th>
                    <th id="detail">
                      Detalles
                    </th>
                  </tr>
                </ng-template>
                <ng-template pTemplate="body" let-data>
                  <tr>
                    <td>{{data.customerName}}</td>
                    <td>{{data.reserveDay}}</td>
                    <td>{{data.endDate}}</td>
                    <td>{{data.articles}}</td>
                    <td>{{data.isActive}}</td>
                    <td>
                      <div>
                        <button mat-raised-button class="btn" [attr.disabled]="dsbBtn?'':null"
                          (click)="goToDetails(data)">Detalles </button>
                      </div>
                    </td>
                  </tr>
                </ng-template>
              </p-table>
              <br><br><br><br><br>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>