<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card" formGroup="form">
          <div class="card-header card-header-warning">
            <h4 class="card-title ">Reserva #{{form.controls.reserveNumber.value}}</h4>
            <p class="card-category"> Fecha de registro: {{form.controls.reserveDay.value}}</p>
            <p class="card-category"> Factura: {{form.controls.invoiceNumber.value}}</p>
            <button mat-raised-button matTooltip="Volver a la lista" class="btn pull-right back"
              (click)="back()">Volver</button>
          </div>
          <div class="card-body">

            <br><br>
            <div class="row">
              <div class="col-md-6">
                <mat-card><strong>Inicio de reserva:</strong> {{form.controls.startDate.value}}</mat-card>
              </div>
              <div class="col-md-6">
                <mat-card><strong>Fin de reserva:</strong> {{form.controls.endDate.value}}</mat-card>
              </div>
            </div>


            <br><br>
            <div class="row">
              <div class="col-md-6">
                <mat-card><strong>Comentarios:</strong> {{form.controls.description.value}}</mat-card>
              </div>
              <div class="col-md-6">
                <mat-card><strong>Artículos:</strong> {{form.controls.articles.value}}</mat-card>
              </div>
            </div>

            <br><br>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>