<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <br><br><br>

          <div class="card-header card-header-warning">
            <h4 class="card-title ">Reserva</h4>
            <p class="card-category"> Ver reservas</p>
            <div class="row">
              <div class="col-md-6">
                <button mat-raised-button class="btn btn-action" (click)="goToPage('/list-quote')">Ver
                  Lista resrvas</button>
              </div>
            </div>
          </div>
          <br><br><br>

          <div class="card-header card-header-warning">
            <h4 class="card-title ">Customer order</h4>
            <p class="card-category"> View customer orders</p>
            <button mat-raised-button class="btn btn-action" (click)="goToPage('/list-customerOrder')">View
              List customer order</button>
          </div>
          <br><br><br>

        </div>
      </div>



    </div>
  </div>
</div>