<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <br><br><br>

          <div class="card-header card-header-warning">
            <h4 class="card-title ">Reservas</h4>
            <p class="card-category"> Buscar reservas</p>
            <div class="row">
              <div class="col-md-6">
                <button mat-raised-button class="btn btn-action" (click)="goToPage('/list-reserve')">Ver
                  lista</button>
              </div>
            </div>
          </div>
          <br><br><br>

          <div class="card-header card-header-warning">
            <h4 class="card-title ">Facturas</h4>
            <p class="card-category"> Crea o visualiza facturas</p>
            <button mat-raised-button class="btn btn-action" (click)="goToPage('/list-invoice')">Ver
              lista</button>
            <button mat-raised-button class="btn pull-right btn-action" matTooltip="Crear factura de venta"
              (click)="goToPage('/invoice-type/2')">Factura de venta</button>
            <button mat-raised-button class="btn pull-right btn-action" matTooltip="Crear factura de daño"
              (click)="goToPage('/invoice-type/3')">Factura de daño</button>
          </div>
          <br><br><br>

        </div>
      </div>



    </div>
  </div>
</div>