<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header card-header-warning">
            <h4 class="card-title">Add Quote</h4>
            <p class="card-category">Complete all quote data</p>
            <button mat-raised-button matTooltip="Finish and save quote" class="btn pull-right save-quote"
              [attr.disabled]="dsbSave?'':null" (click)="saveQuote()">Save Quote</button>
            <mat-progress-bar color="warn" mode="indeterminate" [attr.hidden]="hiddenProgBar?'':null">
            </mat-progress-bar>
          </div>
          <div class="card-body">

            <form>

              <div class="row">
                <div class="col-md-12">
                  <label for="selectRol">Customer</label>
                  <mat-form-field>
                    <mat-select placeholder="Select a customer" [formControl]="customerId" (selectionChange)="setTax()">
                      <mat-option *ngFor="let customer of listCustomers" value="{{customer.id}}">
                        {{customer.firstname}} {{customer.lastname}}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
              </div>

              <div class="row">
                <div class="col-md-12">
                  <mat-form-field>
                    <mat-label>COMMENTS OR SPECIAL INSTRUCTIONS</mat-label>
                    <textarea matInput [formControl]="comments"></textarea>
                  </mat-form-field>
                </div>
              </div>

              <br><br>

              <div class="row">
                <div class="col-md-6">
                  <mat-card>
                    <mat-form-field>
                      <input matInput placeholder="Tax %" type="number" [formControl]="tax" maxlength="2" max="99"
                        min="0" (keypress)="numberOnly($event)" (change)="calculateTotals()">
                      <span matPrefix>$&nbsp;</span>
                    </mat-form-field>
                  </mat-card>
                </div>

                <div class="col-md-6">
                  <mat-card>
                    <mat-form-field>
                      <input matInput placeholder="Shipping" type="number" [formControl]="shipping" min="0"
                        (keypress)="numberOnly($event)" (change)="calculateTotals()">
                      <span matPrefix>$&nbsp;</span>
                    </mat-form-field>
                  </mat-card>
                </div>
              </div>

              <div class="row">
                <div class="col-md-6">
                  <mat-card>Total Tax: {{totalTax.value | currency}}</mat-card>
                </div>
                <div class="col-md-6">
                  <mat-card>Subtotal: {{subtotal.value | currency}}</mat-card>
                </div>
              </div>

              <div class="row">
                <div class="col-md-6">
                  <mat-card>Discount Total: {{totalDiscount.value | currency}}</mat-card>
                </div>
                <div class="col-md-6">
                  <mat-card><strong>TOTAL: {{totalQuote.value | currency}}</strong></mat-card>
                </div>
              </div>

              <br><br>
              <div class="row">
                <div class="pull-right">
                  <button mat-mini-fab class="add pull-right" (click)="addItem()">+</button>
                </div>

              </div>


              <!-- TABLA DE ITEMS -->
              <div class="card-body">
                <div class="table-responsive">

                  <table class="table table-hover">

                    <thead>
                      <th id=""></th>
                      <th id=""> DISCOUNT % </th>
                      <th id=""> REF </th>
                      <th id=""> DESCRIPTION </th>
                      <th id=""> RETAIL PRICE </th>
                      <th id=""> PRICE </th>
                      <th id=""> QUANTITY </th>
                      <th id=""> TOTAL </th>
                    </thead>

                    <tbody>
                      <tr *ngFor="let item of listItems.get('rows')['controls'] ; let i = index;">
                        <td>
                          <button mat-mini-fab color="warn" (click)="removeItem(i)">X</button>
                        </td>
                        <td>
                          <mat-form-field class="field-width">
                            <input matInput placeholder="Disc %" type="number" maxlength="3" max="100" min="0"
                              (keypress)="numberOnly($event)" (change)="calculateTotals()"
                              [formControl]="item.get('discount')">
                            <span matPrefix>%&nbsp;</span>
                          </mat-form-field>
                        </td>
                        <td>
                          <mat-form-field>
                            <input matInput placeholder="Ref" [formControl]="item.get('ref')">
                          </mat-form-field>
                        </td>
                        <td>
                          <mat-form-field>
                            <input matInput placeholder="Description" [formControl]="item.get('description')">
                          </mat-form-field>
                        </td>
                        <td>
                          <mat-form-field class="field-width-price">
                            <input matInput placeholder="Retail Price" type="number" [formControl]="item.get('retail')"
                              min="0" (keypress)="numberOnly($event)" (change)="calculateTotals()">
                            <span matPrefix>$&nbsp;</span>
                          </mat-form-field>
                        </td>
                        <td>
                          {{item.get('retail').value - ((item.get('retail').value * item.get('discount').value)/100) | currency }}
                        </td>
                        <td>
                          <mat-form-field class="field-width">
                            <input matInput placeholder="Quantity" type="number" maxlength="2" min="1"
                              (keypress)="numberOnly($event)" (change)="calculateTotals()"
                              [formControl]="item.get('quantity')">
                          </mat-form-field>
                        </td>
                        <td>
                          {{ (item.get('retail').value - ((item.get('retail').value * item.get('discount').value)/100)) * item.get('quantity').value | currency}}
                        </td>
                      </tr>

                    </tbody>

                  </table>

                </div>
              </div>


            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>