<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card" formGroup="form">
          <div class="card-header card-header-warning">
            <h4 class="card-title ">User profile</h4>
            <p class="card-category"> Details of {{form.controls.name.value}}</p>
            <button mat-raised-button matTooltip="Back to list" class="btn pull-right back"
              (click)="back()">Back</button>
          </div>
          <div class="card-body">

            <br><br>

            <div class="row">
              <div class="col-md-6">
                <mat-card><strong>Email:</strong> {{form.controls.email.value}}</mat-card>
              </div>
              <div class="col-md-6">
                <mat-card><strong>Active:</strong> {{form.controls.active.value}}</mat-card>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>