<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <br><br><br>

                    <div class="card-header card-header-warning">
                        <h4 class="card-title ">Customer</h4>
                        <p class="card-category"> Create and view customer profile</p>
                        <button mat-raised-button class="btn btn-action" (click)="goToPage('/list-customer')">View
                            List</button>
                        <button mat-raised-button class="btn pull-right btn-action"
                            (click)="goToPage('/add-customer')">Add
                            new</button>
                    </div>
                    <br><br><br>

                    <div class="card-header card-header-warning">
                        <h4 class="card-title ">User</h4>
                        <p class="card-category"> Create and view user profile</p>
                        <button mat-raised-button class="btn btn-action" (click)="goToPage('/list-user')">View
                            List</button>
                        <button mat-raised-button class="btn pull-right btn-action" (click)="goToPage('/add-user')">Add
                            new</button>
                    </div>
                    <br><br><br>

                </div>
            </div>



        </div>
    </div>
</div>