<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <br><br><br>

                    <div class="card-header card-header-warning">
                        <h4 class="card-title ">Cliente</h4>
                        <p class="card-category"> Crea o visualiza el perfil de un cliente</p>
                        <button mat-raised-button class="btn btn-action" (click)="goToPage('/list-customer')">Ver
                            lista</button>
                        <button mat-raised-button class="btn pull-right btn-action"
                            (click)="goToPage('/add-customer')">Agregar cliente</button>
                    </div>
                    <br><br><br>

                    <div class="card-header card-header-warning">
                        <h4 class="card-title ">Empleado</h4>
                        <p class="card-category"> Crea o visualiza el perfil de un empleado</p>
                        <button mat-raised-button class="btn btn-action" (click)="goToPage('/list-user')">Ver
                            lista</button>
                        <button mat-raised-button class="btn pull-right btn-action"
                            (click)="goToPage('/add-user')">Agregar empleado</button>
                    </div>
                    <br><br><br>

                    <div class="card-header card-header-warning">
                        <h4 class="card-title ">Item</h4>
                        <p class="card-category"> Crea o visualiza los items</p>
                        <button mat-raised-button class="btn btn-action" (click)="goToPage('/list-item')">Ver
                            lista</button>
                        <button mat-raised-button class="btn pull-right btn-action"
                            (click)="goToPage('/add-item')">Agregar item</button>
                    </div>
                    <br><br><br>

                </div>
            </div>



        </div>
    </div>
</div>